# **Data Types and Structures Questions**

1. What are data structures and why they are important?
- Data structures are the specialized formats for organising , storing and accessing collections of data. They provide efficient ways to manage information based on the characterstics and intended use.
- Think of them as containers that hold your data and determine how you can interact with it.Different containers are better suited for different types of items.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable data types are those data types which can be modified after creation. Lists and dictionaries are the examples of such data types.
-Immutable data types are those data types which cannot be modified after getting created once. Tuples and strings are the example of such data type.

3. What are the main difference between lists and tuples in Python?
- Lists are ordered, mutable collection of elements whereas tuples are similar to lists but are immutable collection of elements.
- In lists, you can add, remove, or modify elements within a list using indexing and slicing however in tuples, you can access the elements using indexing and slicing, but you cannot modify the content.
- Lists are versatile for storing and managing collections that might change but tuples are useful for representing fixed datasets or configurations.

4. Describe how dictionaries store data.
- Dictionaries are the unordered data structures that are used to store the values in key:value pairs.
- Values in the dictionary can be of any data type and can be duplicated , whereas keys can't be repeated and must be immutable.
- Each key acts as a unique identifier for retrieving an associated value.

5. Why might you use set instead of a list in Python?
- It's because sets can't have multiple occurences of the same element, it makes sets highly useful as all the duplicate elements get removed automatically and efficiently.
- It's easy to perform common math operations like unions and intersections.

6. What is string in Python, and how it is different from a list?
- In Python , a sting is a sequence of characters enclosed in the single or double quotes. On the other hand, a list is a collection of items that can be of any data type represented by square brackets and can contain multiple elements separated by commas.
- Strings are immutable , meaning thier values can't be changed once they are created whereas lists are mutable

7. How do tuples ensures the data integrity in Python?
- Tuples are immutable, meaning once they are created, they can't be changed. This characterstic leverages the data integrity as by using tuples for data that should not be modified after creation.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs, using a hash function to determine address or the index of each value based on its key, allowing for the fast retrieval. In Python, dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
- Yes, in Python, lists can contains heterogeneous data types and objects such as numbers, strings, even other lists too.

10. Explain why the strings are immutable in Python?
- Immutablility is the property of an object according to which we cannot change the object after we declared or after the creation of it and this property is shown by strings too. Hence the strings are immutable in python.

11. What advantages do dictionaries offer over the lists for certain tasks?
- Dictionaries allows for efficient retrieval of values using kays, which can be much faster than searching through a list, especially for larger datasets.
- Dictionaries provide logical way to represent data with associations and relationships between keys and values. For instance, storing information about a person, where each piece of information is naturally associated with a key.
- They are well suited for tasks that involve mapping keys to values associated with specific keys, improving performance and code reliability in numerous scenarios.

12. Describe the scenario where using a tuple would be more preferable over a list.
- A tuple would be more preferable over a list when you need to ensure data integrity and prevent accidental modification of the stored elements.

 **Example:**

 Consider a scenario where we are storing **Aadhar card number** of each person in your society. we want to make sure these **Aadhar number** remain constant and are not accidentally changed throughout our program.

 In this case, using a tuple would be ideal because:

 1. **Immutability:** Tuples are immutable, meaning their values cannot be altered after creation.
 2. **Data Integrity:** By using tuples, we are implicitly stating that the **Aadhar number** are fixed and should not be modified, enforcing data integrity.
 3. **Readability:** Using tuples clarifies the intention of keeping the data fixed, making the code more understandable for others.

13. How do sets handle duplicate values?
- Sets handle duplicate values by ignoring them.
- A set only stores unique elements.
- If we try to add a duplicate element to a set , it will simply be ignored, and the set will remain unchanged.
- This unique property is essential when we want to ensure that we don't have any redundant entries in our data structure.

14. How does the "in" keyword works differently for the lists and dictionaries?
- In lists, the "in" keyword checks for the presence of specific element within the list.
- In dictionaries, the "in" keyword checks for the presence of a specific key in  the dictionary.

15. Can you modify the elements of tuple? Explain why or why not?
- No, we can't directly modify the elements of a tuple in Python because tuples are immutable, meaning that thier content can't be changed after creation.
- If we try to modify the element of tuple, it will throw a TypeError.
- We can only modify a tuple by convwerting it to list, change the list and then converting back it into list.

16. What is nested dictionary, and give an example of it's use case?
- A nested dictionary is a dictionary where the values are also dictionaries.
- This allows us to create a hierarchical structure for storing and organizing data.

 **Example**: Storing the students information with nested dictionaries
  student_data = {
    'student1':{
      'name': 'Bhavya',
      'age': 18,
      'grades': {'math': 90, 'science': 85, 'english': 92}
  },
  'student2': {
    'name': 'Kavya',
    'age': 17,
    'grades': {'math': 88, 'science': 92, 'english': 89}
  }
  }

  **Use Case**: Representing complex data structures.

   Nested dictionaries are useful for representing data with multiple levels of relationships or hierarchies, such as:
   - Storing informations about a company's departments and employees.
   - Manaaging inventory with the product categories and subcategories.
   - Representing social network connections with users and thier friends.

17. Describe the time complexity of accessing elements in a dictionary?
- The time complexity of accessing the elementys in a dictionary is O(1) on average.
- This is because dictionaries are implemented using hash tables, which allows for the fast lookups based on the key.
- However, in the worst-case scenario, where there are many collision in the hash table, the time complexity decrease to the O(n),  where n is the number of elements in the dictionary.

18. In what situations lists are prweefered over the dictionaries?
- The followings are situations where the lists are preferred over the dictionaries:-
  - **When orders matter**:
     1. Lists maintains the order of elements, whereas dictionaries donot gaurantee any specific order.
     2. If we need to process our data sequentially or iterate through it it in a particular order, lists are preferable.
  - **When we need indexing**:
     1. Lists are indexed numerically, allowing easy access to elements by thier position.
     2. Dictionaries, on the other hand, are inderxed by the keys, which might not always be suitable.
  - **When you are dealing with a homogeneous collection**:
     1. Lists are best for storing a colllectiopn of similar data types.
     2. Dictionaries are better suited for representing data where each item is a key-value pair with potentially different data types.
  - **When we want to modify data frequently**:
    1. Lists are mutable, meaning that we can easily add, remove, or modify elements within the list.
    2. While dictionaries are also mutable, they are less efficient for the task compared to lists, especially when frequent updates are required.
  - **When we don't need key-value association**:
    1. Lists are simpler to use when we just want to store a sequence of items without needing to associate them with specific labels or keys.

19. Why are dictionaries are considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they do not gaurantee any specific order for the elements they store.
- The ordetr in which  we insert key-valuie pairs into the dictionary may niot be the same order in which they were sytored internally or retrieved.

 This affects the data retrieval in the following ways:
- We cannot rely on the order of the elements when we iterate through the doictionary or access the elements.
- Even thoufgh the order is not gauranteed, dictionaries excel at retrieving the data based on keys, offerin the fastest lookup time i.e. O(1) on average.
-Dictionaries are usually implemented using hash table, which allows for fast access bassed on keys.

20. Explain the difference between a list and a dictionary in the terms of data retrieval?
- **Data Retrieval in List**:
   - Access the index: Lists are the ordered collectiion, allowing the user to access elements using thier numerical index (positions).
   - Time Complexity:  Accessing the elements by index has the time complexity of O(1).

- **Data Retrieval in Dictionaries**:
   - Access by Key: Dictionaries stores the data in key-value pairs. the usre can retrieve values by providing the corresponding key.
   - Time Complexity: Accesssing the values by keys has an averagew time complexity of O(1) (constant time) due to the use of the hash tables.

# **Practical Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
string = "Kavya Bhatt"
print(string)

Kavya Bhatt

2. Write a code to find the length of string "Hello World".

In [ ]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice first 3 characters from the string "Python Programming".

In [ ]:
str = "Python Programming"
string = str[0:3]
print(string)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
print(string.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers from 1 to 5 and print it.

In [ ]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append number 10 to the list [1,2,3,4].

In [ ]:
lis = [1, 2, 3, 4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
lis1 = [1,2,3,4,5]
lis1.remove(3)
print(lis1)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a','b','c','d'].

In [ ]:
char = ['a', 'b', 'c', 'd']
char[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list = [10, 20, 30, 40, 50]
print(list[5: : -1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with elements 100, 200, 300 and print it.

In [ ]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
color = ('red', 'green', 'blue', 'yellow')
color[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10,20,5,15).

In [ ]:
tuple = (10, 20, 5, 15)
min_num = min(tuple)
print(min_num)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
pet = ('dog', 'cat', 'rabbit')
index_of_cat = pet.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
bucket = ('dragon fruit','kiwi','avacado')
if 'kiwi' in bucket:
  print('yes present')
else:
  print('not present')

yes present

16. Write a code to create a set with elements 'a', 'b', 'c' and print it.

In [ ]:
set4 = {'a','b','c'}
print(set4)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1,2,3,4,5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1,2,3,4}

In [ ]:
set1 = {1,2,3,4}
set1.remove(4)
print(set1)

{1, 2, 3}

19. Write a code to find union of two sets {1,2,3} and {3,4,5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_sets = set1.union(set2)
print(union_sets)

{1, 2, 3, 4, 5}

20. Write a code to find intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_sets = set1.intersection(set2)
print(intersection_sets)

{2, 3}

21. Write a code to create dictionary with the keys "name", "age" and "city", and print it.

In [ ]:
dict = {"name":"kavya", "age":21, "city":"jaipur"}
print(dict)

{'name': 'kavya', 'age': 21, 'city': 'jaipur'}

22. Write a code to add a new key-value pair "country":"USA" to the dictionary {'name':'John', 'age':25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
my_dict = {'name':'Alice', 'age':22}
my_dict['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name':'Bob', 'age':22, 'city':'New York'}.

In [ ]:
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
  print('the city exists.')
else:
  print('the city doesn\'t exists.')

the city exists.

26. Write a code to create a list, a tuple and a dictionary, and print them all.

In [ ]:
list = [1,2,"kavya",3.14,4+3j]
tuple = ("apple", "baigan",3+4j,2.2,1)
dict = {'name':'kavya', 'city':'jaipur', 'age':21}
print(list)
print(tuple)
print(dict)

[1, 2, 'kavya', 3.14, (4+3j)]
('apple', 'baigan', (3+4j), 2.2, 1)
{'name': 'kavya', 'city': 'jaipur', 'age': 21}

27. Write a code to create a list of 5 random numbers between 1 to 100, sort it in ascending order, and print the result. (replaced)

In [ ]:
random_numbers = [13, 3,62,46,29]
random_numbers.sort()
print(random_numbers)

[3, 13, 29, 46, 62]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
lis = ["hi","hello","thank","you","bye","see","ya","later"]
print(lis[3])

you

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"f_name": "kavya", "l_name": "bhatt"}
dict2 = {"age":21, "city":"jaipur"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'f_name': 'kavya', 'l_name': 'bhatt', 'age': 21, 'city': 'jaipur'}

30. Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "orange", "apple", "banana", "avacado"]
my_set = __builtins__.set(my_list)
print(my_set)

{'avacado', 'apple', 'banana', 'orange'}